name: linting

on: [push]

env:
  UV_SYSTEM_PYTHON: true

jobs:
  linting:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python_version: ["3.8", "3.9", "3.10", "3.11", "3.12"]

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up Python ${{matrix.python_version}}
        uses: actions/setup-python@v5
        with:
          python-version: ${{matrix.python_version}}
      - name: Update pip
        run: |
          python -m pip install --upgrade pip
      - name: Install dependencies
        run: |
          curl -LsSf https://astral.sh/uv/install.sh | sh
          uv pip install ".[dev]"
      - name: ruff check
        run: |
          ruff check src/nyaml tests
      - name: ruff formatting
        run: |
          ruff format --check src/nyaml tests
      - name: mypy
        run: |
          mypy src/nyaml tests
